<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mju.mtts.dao.movie.MovieDao">

	
	<select id="selectAll" resultType="movie">
		SELECT
				MOVIE_SEQ as 'movieSeq'
			,	TITLE as 'title'
			,	PLAYTIME as 'playTime'
			,	SYNOPSIS as 'synopsis'
			,	PRODUCE_YEAR as 'produceYear'
			,	OPEN_DATE as 'openDate'
			 
		FROM	admin.MOVIE
		<if test="movieSeq != null">
			WHERE MOVIE_SEQ = #{movieSeq}
		</if>
	</select>
	
	<select id="getGrade" resultType="Double">
		SELECT
				avg(GRADE) as 'grade'
			
		FROM	admin.MOVIE_REVIEW
		WHERE	MOVIE_SEQ = #{movieSeq}
		GROUP BY	MOVIE_SEQ
	</select>
	
	<select id="getGenre" resultType="String">
		SELECT 
				GENRE_NAME as 'genre'
				
		FROM	admin.GENRE natural join admin.MOVIEGENRE
		WHERE	MOVIE_SEQ = #{movieSeq}
	</select>

	<select id="getCountry" resultType="String">

		SELECT
				COUNTRY_NAME as 'countryName'
				
		FROM	admin.PRODUCE_COMPANY natural join admin.COUNTRY
		WHERE	PRODUCE_COMPANY_SEQ IN
				(SELECT
						PRODUCE_COMPANY_SEQ
				FROM MOVIE
				WHERE MOVIE_SEQ = #{movieSeq})
	</select>
	
	<select id="getRate" resultType="String">
	
		SELECT
				RATE as 'rate'
		
		FROM	admin.RATE natural join admin.MOVIE
		WHERE	MOVIE_SEQ = #{movieSeq}
	
	</select>
</mapper>