<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mju.mtts.dao.movie.MovieDao">

	
	<select id="selectAll" resultType="movie">
		SELECT
				m.MOVIE_SEQ as 'movieSeq'
			,	m.TITLE as 'title'
			,	m.PLAYTIME as 'playTime'
			,	m.SYNOPSIS as 'synopsis'
			,	m.PRODUCE_YEAR as 'produceYear'
			,	m.OPEN_DATE as 'openDate'
			,	m.GRADE_AVG as 'gradeAvg'
			,	m.RESERV_COUNT as 'reservCount'
			 
		FROM	admin.MOVIE m JOIN admin.SHOWMOVIE
		<if test="movieSeq != null">
			WHERE m.MOVIE_SEQ = #{movieSeq}
		</if>
		<if test="sortCode == null">
			GROUP BY m.MOVIE_SEQ
		</if>
		<if test="sortCode != null">
			<choose>
				<when test="sortCode == 'grade'">
					GROUP BY m.GRADE_AVG DESC
			    </when>
			    <when test="sortCode == 'open'">
			      	GROUP BY m.OPEN_DATE DESC
			    </when>
			    <when test="sortCode == 'reserv'">
			    	GROUP BY m.RESERV_COUNT DESC
			    </when>
		 	</choose>
		</if>
		
	</select>
	
	<select id="getGenreMovie" resultType="movie">
		SELECT
				m.MOVIE_SEQ as 'movieSeq'
			,	m.TITLE as 'title'
			,	m.PLAYTIME as 'playTime'
			,	m.SYNOPSIS as 'synopsis'
			,	m.PRODUCE_YEAR as 'produceYear'
			,	m.OPEN_DATE as 'openDate'
			,	m.GRADE_AVG as 'gradeAvg'
			,	m.RESERV_COUNT as 'reservCount'
			,	g.GENRE_SEQ as 'genreSeq'
		
		FROM	admin.MOVIE m NATURAL JOIN admin.MOVIEGENRE g
		WHERE	g.GENRE_SEQ = #{genreSeq}
		
		<if test="sortCode == null">
			GROUP BY m.MOVIE_SEQ
		</if>
		<if test="sortCode != null">
			<choose>
				<when test="sortCode == 'grade'">
					GROUP BY m.GRADE_AVG DESC
			    </when>
			    <when test="sortCode == 'open'">
			      	GROUP BY m.OPEN_DATE DESC
			    </when>
			    <when test="sortCode == 'reserv'">
			    	GROUP BY m.RESERV_COUNT DESC
			    </when>
		 	</choose>
		</if>
		
	</select>
	
	<select id="getGrade" resultType="Double">
		SELECT
				avg(GRADE) as 'grade'
			
		FROM	admin.MOVIE_REVIEW
		WHERE	MOVIE_SEQ = #{movieSeq}
		GROUP BY	MOVIE_SEQ
	</select>
	
	<select id="getGenre" resultType="genre">
		SELECT 
				GENRE_SEQ as 'genreSeq'
		,		GENRE_NAME as 'genre'
				
		FROM	admin.GENRE natural join admin.MOVIEGENRE
		WHERE	MOVIE_SEQ = #{movieSeq}
	</select>

	<select id="getCountry" resultType="String">

		SELECT
				COUNTRY_NAME as 'country'
				
		FROM	admin.PRODUCE_COMPANY natural join admin.COUNTRY
		WHERE	PRODUCE_COMPANY_SEQ IN
				(SELECT
						PRODUCE_COMPANY_SEQ
				FROM MOVIE
				WHERE MOVIE_SEQ = #{movieSeq})
	</select>
	
	<select id="getRate" resultType="String">
	
		SELECT
				RATE as 'rate'
		
		FROM	admin.RATE natural join admin.MOVIE
		WHERE	MOVIE_SEQ = #{movieSeq}
	
	</select>
</mapper>