<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mju.mtts.dao.movie.ReservInfoDao">

	<select id="selectReservInfo" resultType="reservInfo">
		SELECT
		      	RESERV_SEQ as 'reservSeq'
		,		THEATER as 'theater'
		,   	SCREEN as 'screen'
		,   	MOVIE as 'movie'
		,   	RESERV_NUM as 'reservNum'
		,   	PRICE as 'price'
		,   	RESERV_DATE as 'reservDate'
		,   	MEMBERSHIP_TON as 'membershipTON'
		,   	SEAT_NUMBER as 'seatNumber'
		,   	MEMBER_SEQ as 'memberSeq'
		
		FROM 
				admin.RESERV_INFO
		WHERE
				MEMBER_SEQ = #{0};
	</select>

	<insert id="insertReservInfo">
		INSERT 	
				INTO RESERV_INFO (
  				THEATER, SCREEN, MOVIE,
   				RESERV_NUM, PRICE, RESERV_DATE, SEAT_NUMBER, SHOW_DATE, MEMBER_SEQ)
		VALUES
				(#{theater}, #{screen}, #{movie},
				#{reservNum}, 5000, NOW(), #{seatNumber}, #{showDate}, #{memberSeq});
	</insert>

</mapper>